.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  --size: 200px;

  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:white;
  font-size: 50px;
}

button {
  --distance: 50px;

  margin-right: calc(var(--distance)/2);
  margin-left: calc(var(--distance)/2);

  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-weight: 760;
}

.button-red {
  background-color: red;
  color: white;
}

.button-red:active {
  background-color: darkred;
}

.button-blue {
  background-color: blue;
  color: white;
}


.button-blue:active {
  background-color: darkblue;
}

.button-wrapper {
  margin-top: 25px;
}